<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PhasmophobiaChallenge.Properties.Discord" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PhasmophobiaChallenge.Resources.Discord" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PhasmophobiaChallenge.Resources.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PhasmophobiaChallenge.Properties.Options" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PhasmophobiaChallenge.Properties.Discord>
      <setting name="Token" serializeAs="String">
        <value>ODA2MTMwMzg4NjIyNzcwMTk4.YBk9bQ.s40R8XFFwxI0TLRTavx7fYEeUVA</value>
      </setting>
      <setting name="ServerID" serializeAs="String">
        <value>803015136075186188</value>
      </setting>
      <setting name="ChallengeChannelID" serializeAs="String">
        <value>803018830485389403</value>
      </setting>
      <setting name="CurrentMemberID" serializeAs="String">
        <value>178060019206586369</value>
      </setting>
      <setting name="WelcomeChannelID" serializeAs="String">
        <value>803015204610900018</value>
      </setting>
    </PhasmophobiaChallenge.Properties.Discord>
    <PhasmophobiaChallenge.Resources.Discord>
      <setting name="Token" serializeAs="String">
        <value>ODA2MTMwMzg4NjIyNzcwMTk4.YBk9bQ.s40R8XFFwxI0TLRTavx7fYEeUVA</value>
      </setting>
      <setting name="ServerID" serializeAs="String">
        <value>803015136075186188</value>
      </setting>
      <setting name="ChallengeChannelID" serializeAs="String">
        <value>803018830485389403</value>
      </setting>
      <setting name="CurrentMemberID" serializeAs="String">
        <value>178060019206586369</value>
      </setting>
      <setting name="WelcomeChannelID" serializeAs="String">
        <value>803015204610900018</value>
      </setting>
      <setting name="TestSetting" serializeAs="String">
        <value>bite</value>
      </setting>
    </PhasmophobiaChallenge.Resources.Discord>
    <PhasmophobiaChallenge.Resources.Settings1>
      <setting name="Token" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerID" serializeAs="String">
        <value>0</value>
      </setting>
    </PhasmophobiaChallenge.Resources.Settings1>
  </userSettings>
  <applicationSettings>
    <PhasmophobiaChallenge.Properties.Options>
      <setting name="Local" serializeAs="String">
        <value>0</value>
      </setting>
    </PhasmophobiaChallenge.Properties.Options>
  </applicationSettings>
</configuration>